@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
h1, p{
    font-family: 'Pacifico', cursive;
}
.contact{
    background-image: url("https://a0.muscache.com/pictures/da3d25b8-2faf-4a7b-90a7-a10d49f6a063.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-size: 1.5rem;
}
.contact-section{
    color: white;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.contact-info{
    text-align: center;
    margin-top: 150px;
}
.social-links{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 20px;
}
.social-links li{
    margin-right: 15px;
}
.social-links li a{
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 500px) {
    .contact{
        font-size: 1rem;
    }
    .contact-info{
        margin-top: 80px;
        padding: 20px;
    }
    h1, p{
        margin-bottom: 20px;
    }
}